@page "/cursos/editar/{CursoId:int}"
   <!---->
@inject NavigationManager   navigationManager
@inject IHttpService http



<h2>Modificar Curso</h2>

<CursoFormulario onValidSubmit=" GrabarModificacion" Curso=" curso" onCancel="Cancelar" />


@code {

    private Curso curso;
    [Parameter] public int CursoId { get; set; }
    //  [Parameter] public int ID { get; set; }
    // [Parameter] public string Nomcurso { get; set; }
    // [Parameter] public string Tutcurso { get; set; }
    // [Parameter] public string Rescurso { get; set; }



    protected async override Task OnInitializedAsync()
    {

        await MostrarCurso();

    }

    private async Task MostrarCurso()
    {
        var httpRespuesta = await http.Get<Curso>($"api/Cursos/{CursoId}");
        if (httpRespuesta.Error)
        {

            var body = await httpRespuesta.GetBody();

        }
        else
        {

            curso = httpRespuesta.Respuesta;
        }
    }

    private async Task GrabarModificacion()
    {
        var httpRespuesta = await http.Put<Curso>($"api/Cursos/{CursoId}",curso);
        if (httpRespuesta.Error)
        {

            var body = await httpRespuesta.GetBody();

        }

        navigationManager.NavigateTo("/Cursos");

    }

    private void Cancelar()
    {

        navigationManager.NavigateTo("/Cursos");
    }




}
