@page "/cursos/crear"

@inject NavigationManager navigationManager
@inject IHttpService http


<h2>Nuevo Curso</h2>

<CursoFormulario onValidSubmit=" GrabarNuevoCurso" Curso= "curso" onCancel="Cancelar" />

@code {

    private Curso curso = new Curso();

    private async Task GrabarNuevoCurso()
    {

        var httpRespuesta = await http.Post<Curso>("api/Cursos", curso);
        if (httpRespuesta.Error)
        {

            var body = await httpRespuesta.GetBody();
        }

        navigationManager.NavigateTo("/Cursos");
        // Console.WriteLine($"Graba {curso.NombreCurso}");

    }

    private void Cancelar()
    {

         navigationManager.NavigateTo("/Cursos");


    }
}