@page "/"



<div
   
     <center>

             <img src="https://c8.alamy.com/compes/2a71268/hola-mundo-texto-escrito-en-codigo-de-programacion-tecnologia-de-fondo-abstracto-de-desarrollador-de-software-y-equipo-script-hola-mundo-en-concepto-de-codigo-2a71268.jpg"
                  width="600" height="600" class="imagen" />
     </center>
    
</div>

